# Resharper files
_ReSharper.*
*.resharper

# NCrunch
*.ncrunchproject
*.ncrunchsolution

# Compiled Object files
obj/
Obj/

# Solution files
*.user
*.opensdf
*.sdf
*.suo

# CEFClient pdb's
/*/cefclient.ilk
/*/cefclient.pdb

# Cef logging
/*/debug.log
